<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #343a40">
    <a
      href="http://Autoinven.com/"
      style="text-decoration: none; font-family: 'nanum-r'; color: white"
      >© 2022 Copyright: Autoinven</a
    >

    <div style="margin-top: 11px">
      <a
        class="btn-footer btn-social mx-2"
        href="https://twitter.com/Autoinven"
        target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="btn-footer btn-social mx-2"
        href="https://www.facebook.com/autoinven"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn-footer btn-social mx-2"
        href="https://www.instagram.com/autoininc"
        target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
