<!--아이템 등록 모달-->
<div
  class="modal fade"
  id="ItemRegisterModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ItemRegisterModalTitle">
          <img src="/image/icon/box-solid.svg" class="badge-svg" />
          물품등록
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="clearModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="image-preview">
          <div id="att_zone">
            <p id="image-placeholder">
              이미지를 첨부 하려면 최대 5개의 이미지 업로드 버튼을 클릭하거나
              파일을 드래그 앤 드롭 하세요 (JPG, PNG, JPEG)
            </p>
          </div>
          <label class="input-file-button" for="btnAtt"> 이미지 업로드 </label>
          <input
            id="btnAtt"
            type="file"
            multiple="multiple"
            style="display: none"
            accept="image/png, image/jpeg, image/jpg"
          />
        </div>
        <input
          id="name"
          type="text"
          class="form-control"
          placeholder="물품명"
        />
        <textarea
          id="note"
          class="form-control enroll-text-area"
          cols="40"
          rows="5"
          placeholder="물품 취급시 유의 사항을 반드시 입력해주세요.
(물품에 관련된 정보를 최대한 입력해주세요)"
        ></textarea>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-submit"
          onclick="registerItem()"
          style="margin-right: 1rem"
        >
          등록하기
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          onclick="clearModal()"
        >
          닫기
        </button>
      </div>
    </div>
  </div>
</div>
<!--아이템 등록 모달-->

<!--아이템 등록 버튼-->
<script>
  registerItem = () => {
    let formdata = new FormData();

    formdata.append('name', $('#name')[0].value);
    formdata.append('user_email', '<%= user.email%>');
    formdata.append('l_contract_id', '<%= user.l_contract_id%>');
    formdata.append('note', $('#note')[0].value);

    sel_files.forEach((file) => {
      formdata.append('images', file);
    });

    for (var pair of formdata.entries()) {
      console.log(pair[0] + ', ' + pair[1]);
    }

    $.ajax({
      url: server_url + 'api/item',
      type: 'POST',
      enctype: 'multipart/form-data',
      processData: false,
      contentType: false,
      cache: false,
      data: formdata,
      success: function (data) {
        // 전송 후 성공 시 실행 코드
        console.log(data);
      },
      error: function (e) {
        // 전송 후 에러 발생 시 실행 코드
        console.log('ERROR : ', e);
      },
    });
  };

  clearModal = () => {
    const itemNameInput = document.getElementById('name');
    const itemNoteInput = document.getElementById('note');
    const imageDiv = document.getElementById('att_zone');

    itemNameInput.value = '';
    itemNoteInput.value = '';
    imageDiv.innerHTML = '';

    sel_files = [];
    const placeholder = document.createElement('p');
    placeholder.setAttribute('id', 'image-placeholder');
    placeholder.innerText =
      '이미지를 첨부 하려면 최대 5개의 이미지 업로드 버튼을 클릭하거나 파일을 드래그 앤 드롭 하세요 (JPG, PNG, JPEG)';
    imageDiv.appendChild(placeholder);
  };
</script>
<!--아이템 등록 버튼-->

<!--이미지 업로드 및 미리보기-->
<script>
  /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
  const attZone = document.getElementById('att_zone');
  const btnAtt = document.getElementById('btnAtt');
  let sel_files = [];
  const max_images = 5;

  // 이미지와 체크 박스를 감싸고 있는 div 속성
  const div_style =
    'display:inline-block;position:relative;' +
    'width:8rem;height:8rem;margin:5px;border:1px solid #f0f0f0; z-index:1';
  // 미리보기 이미지 속성
  const img_style = 'width:100%;height:100%;z-index:none';
  // 이미지안에 표시되는 체크박스의 속성
  const chk_style =
    'position:absolute; padding: 3px 5px 0.5px 5px; border-radius: 3px;' +
    'right:0px;top:0px;z-index:999;';

  btnAtt.onchange = (e) => {
    const files = e.target.files;
    const fileArr = Array.prototype.slice.call(files);
    for (f of fileArr) {
      imageLoader(f);
    }
  };

  // 탐색기에서 드래그앤 드롭 사용
  attZone.addEventListener(
    'dragenter',
    (e) => {
      e.preventDefault();
      e.stopPropagation();
    },
    false
  );

  attZone.addEventListener(
    'dragover',
    (e) => {
      e.preventDefault();
      e.stopPropagation();
    },
    false
  );

  attZone.addEventListener(
    'drop',
    (e) => {
      e.preventDefault();
      e.stopPropagation();
      const dt = e.dataTransfer;
      let files = {};
      let extension;
      let isSuccess;
      files = dt.files;
      fileTypes = ['jpg', 'jpeg', 'png'];

      for (f of files) {
        if (sel_files.length < max_images) {
          extension = f.name.split('.').pop().toLowerCase();
          isSuccess = fileTypes.indexOf(extension) > -1;
          if (isSuccess) {
            imageLoader(f);
          }
        }
      }
    },
    false
  );

  /*이미지 미리보기 상자가 비어있으면 텍스트 노출*/
  placeholerObserver = () => {
    if (sel_files.length <= 0) {
      $('#image-placeholder')[0].setAttribute('style', 'diplay: block;');
    } else {
      $('#image-placeholder')[0].setAttribute('style', 'display: none;');
    }
  };

  /*첨부된 이미지들을 배열에 넣고 미리보기 */
  imageLoader = (file) => {
    sel_files.push(file);
    var reader = new FileReader();
    reader.onload = (e) => {
      let img = document.createElement('img');
      img.setAttribute('style', img_style);
      img.src = e.target.result;
      attZone.appendChild(makeDiv(img, file));
    };
    reader.readAsDataURL(file);

    placeholerObserver();
  };

  /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
  makeDiv = (img, file) => {
    const div = document.createElement('div');
    div.setAttribute('style', div_style);
    const icon = document.createElement('img');
    const btn = document.createElement('input');
    btn.setAttribute('type', 'button');
    btn.setAttribute('value', 'X');
    btn.setAttribute('class', 'btn btn-danger');
    btn.setAttribute('delFile', file.name);
    btn.setAttribute('style', chk_style);
    btn.onclick = (ev) => {
      var ele = ev.srcElement;
      var delFile = ele.getAttribute('delFile');
      for (var i = 0; i < sel_files.length; i++) {
        if (delFile == sel_files[i].name) {
          sel_files.splice(i, 1);
        }
      }

      dt = new DataTransfer();
      for (f in sel_files) {
        var file = sel_files[f];
        dt.items.add(file);
      }
      btnAtt.files = dt.files;
      var p = ele.parentNode;
      attZone.removeChild(p);
      placeholerObserver();
    };
    div.appendChild(img);
    div.appendChild(btn);
    return div;
  };
</script>
<!--이미지 업로드 및 미리보기-->
