<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- include('../head') %>
  </head>
  <body>
    <div class="container">
      <button type="button" class="btn btn-primary"/>
      <img src="http://placehold.it/"/>
    </div>
  
  </body>
  <script>
    
  </script>
</html>
