.dashboard__container {
    display: flex;
    background: #F8F9FF;
    min-height: 1000px;
    height: 100vh;
}

.dashboard__container .nav-wrapper {
    flex: 1;
}

.dashboard__container .dashboard {
    flex: 5.5;
}

.dashboard__container .dashboard .dashboard-top {
    height: 5%;
}

.dashboard__container .dashboard-main {
    display: grid;
    padding: 20px 20px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1.2fr 1fr 1.5fr;
    gap: 20px 20px;
    height: 95%;
}

.dashboard__container .dashboard-main .weather {
    grid-column: 1/4;
}

.dashboard__container .dashboard-main .weather .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 65%;
    border-bottom: 3px solid #716F81;
}

.dashboard__container .dashboard-main .weather .top .icon-wrapper {
    font-size: 8em;
    text-align: center;
}

.dashboard__container .dashboard-main .weather .top .info {
    font-size: 24px;
    font-weight: 600;
}

.dashboard__container .dashboard-main .weather .bottom {
    display: flex;
    height: 35%;
    justify-content: space-around;
    align-items: center;
}

.dashboard__container .dashboard-main .weather .bottom .info {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.dashboard__container .dashboard-main .realtime {
    grid-column: 4/8;
    padding: 10px 20px 0 20px;
}

.dashboard__container .dashboard-main .realtime .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.dashboard__container .dashboard .dashboard-main .sensor {
    grid-column: 1/8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 3%;
    height: 80%;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.numerical {
    cursor: pointer;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.fine {
    background: #CDF2CA;
    border-radius: 10px;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.bad {
    background: #F6A9A9;
    border-radius: 10px;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper .value {
    font-size: 1.5rem;
}
.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper .sensor-icon1:before{
    align-self: center;
}
.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper .sensor-icon1 {
    font-size: 48px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 65%;
    height: 100%;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.temperature .sensor-icon1 {
    background: #E6F2FE;
    color: #017EFA;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.humidity .sensor-icon1 {
    background: #F2F6F5;
    color: #8FF97E;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.co .sensor-icon1 {
    background: #F6F6F6;
    color: #f29d00;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper.propane .sensor-icon1 {
    background: #FAEEE7;
    color: #DF2E2E;
}

.dashboard__container .dashboard .dashboard-main .sensor .value-wrapper .sensor-icon2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.dashboard__container .dashboard-main .cctv {
    grid-column: 1/5;
    padding: 10px 20px;
}

.dashboard__container .dashboard-main .cctv .title {
    display: flex;
    height: 10%;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
}

.dashboard__container .dashboard-main .cctv .title .wd-screen {
    color: #017EFA;
    cursor: pointer;
}

.dashboard__container .dashboard-main .cctv .content {
    height: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    align-items: center;
}

.dashboard__container .dashboard-main .cctv .content i {
    cursor: pointer;
    transition: 0.2s;
}

.dashboard__container .dashboard-main .cctv .content i:hover {
    color: #9D9D9D;
}

.dashboard__container .dashboard-main .cctv .content iframe {
    width: 80%;
    height: 80%;
}

.dashboard__container .dashboard-main .capability {
    padding: 10px 20px;
    grid-column: 5/8;
}

.dashboard__container .dashboard-main .capability .title {
    font-size: 18px;
    font-weight: 600;
    height: 20%;
}

.dashboard__container .dashboard-main .capability .capability-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.dashboard__container .dashboard .dashboard-main .card {
    border-radius: 10px;
    margin: 0;
    border: none;
    box-shadow: 1px 1px 5px #e4e6e9;
}