.dashboard-anal {
    margin: 30px;
    border-radius: 10px;
    background: #fff;
}

.main_chart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chart_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graph_temp {
    flex: auto;
    margin: 15px;
}

.graph_humidity {
    flex: auto;
    margin: 15px;
}

.graph_co {
    flex: auto;
    margin: 15px;
}

.graph_lpg {
    flex: auto;
    margin: 15px;
}

.summary {
    background-color: #ECEFF6;
    width: 20%;
    border-radius: 25px;
}

.colflex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chartbox {
    border-radius: 10px;
    box-shadow: 1px 1px 3px #e4e6e9;
}

#stat_line {
    width: 3px;
    color: black;
    width: 90%;
    margin-top: 1px;
    margin-bottom: 1px;
}

#dayButton,
#monthButton,
#yearButton {
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.chartinfoHR {
    width: 3px;
    color: black;
    /*flex: auto;*/
    width: 80%;
    margin-top: 1px;
    margin-bottom: 1px;
}

#dayButton:hover {
    background-color: #e4e6e9;
    cursor: pointer
}

#monthButton:hover {
    background-color: #e4e6e9;
    cursor: pointer
}

#yearButton:hover {
    background-color: #e4e6e9;
    cursor: pointer
}

#titleAnalysis {
    font-size: 30px;
    font-weight: bold;
}

#currentDate {
    border-radius: 5px;
    border-width: 1px;
    height: 39.57px;
}

#currentYear {
    border-radius: 5px;
    border-width: 1px;
    height: 39.57px;
}

.summaryName {
    font-size: 20px;
    font-weight: bold;
}

#dashChart {
    height: 900px;
}


/*----------------------------------------------------------------*/

.ui-widget-header {
    border: 0px solid #dddddd;
    background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
    font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 10px 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background-color: transparent;
    font-weight: normal;
    color: #454545;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 0em;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    padding: 0px;
    font-weight: bold;
}

.ui-datepicker {
    display: none;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    padding-bottom: 10px;
    width: 300px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.ui-widget.ui-widget-content {
    border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
    display: block;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    cursor: pointer;
}

.ui-datepicker-next {
    float: right;
}

.ui-state-disabled {
    cursor: auto;
    color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
    text-align: center;
    padding: 10px;
    font-weight: 100;
    font-size: 20px;
}

.ui-datepicker-calendar {
    width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}

.ui-datepicker-calendar>tbody>tr>td>a {
    color: #000;
    font-size: 12px !important;
    font-weight: bold !important;
    text-decoration: none;
}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
    cursor: auto;
    background-color: #fff;
}

.ui-datepicker-calendar>tbody>tr>td {
    border-radius: 100%;
    width: 44px;
    height: 30px;
    cursor: pointer;
    padding: 5px;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
    background-color: transparent;
    opacity: 0.6;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 0px solid #cccccc;
    background-color: transparent;
    font-weight: normal;
    color: #2b2b2b;
}

.ui-widget-header .ui-icon {
    background-image: url('Image/btns.png');
}

.ui-icon-circle-triangle-e {
    background-position: -20px 0px;
    background-size: 36px;
}

.ui-icon-circle-triangle-w {
    background-position: -0px -0px;
    background-size: 36px;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
    color: red !important;
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
    color: #0099ff !important;
}

.ui-datepicker-calendar>thead>tr>th:first-child {
    color: red !important;
}

.ui-datepicker-calendar>thead>tr>th:last-child {
    color: #0099ff !important;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 0px;
    background: #f1f1f1;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inp {
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 0px;
}

.inp:focus {
    outline: none;
    background-color: #eee;
}