.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: 100%;
    padding: 40px 0;
    background: #182022;
}
#logo-img {
    width: 10rem;
    height: 40px;
    margin: 0 0 50px 20px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-bar .items-wrapper .item-category{
    color: #51CBFF;
    padding-left: 20px;
}
.nav-bar .items-wrapper .item{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 13px 0 13px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-bar .items-wrapper .item:hover{
    background: #6C757D;
}
.nav-bar .items-wrapper .item .icon-img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.nav-bar .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1B2B65;
    border-radius: 10px;
    margin: 0 20px;
}
.nav-bar .bottom #help-img{
    position: relative;
    top: -30px;
}
.nav-bar .bottom .help{
    position: relative;
    top: -30px;
    color: #fff;
    font-size: 14px;
}
.nav-bar .bottom .contact-btn{
    color: #fff;
    background: #017EFA;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-bar .bottom .contact-btn:hover{
    opacity: 0.7;
}