<html lang="en" dir="ltr">
  <body>
    <div>
      <img
        src="https://raw.githubusercontent.com/kjaehyeon/KNUCDP1-202102-Team7/master/Public/Image/inven_logo.png"
        style="width: 17rem"
      />
      <hr />
      <h2 style="font-weight: bold">test</h2>
      <h2
        style="
          font-weight: bold;
          color: white;
          background-color: rgb(46, 46, 46);
          width: fit-content;
          padding: 1rem;
        "
      >
        <%= auth_code %>
      </h2>
      <p style="font-size: 1rem; font-weight: bold">test</p>
      <p style="font-size: 1rem; font-weight: bold">test</p>
      <p style="font-size: 1rem; font-weight: bold">test</p>
    </div>
    <br />
    <br />
    Copyright © <span id="year"><%= year %> </span
    ><a href="http://autoinven.com">AUTOINVEN</a>
  </body>
</html>
