<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
  <link rel="stylesheet" href="/css/contractDetail.css"/>
</head>

<body>
  <header>
    <%- include('../partial/navbar') %>
  </header>
  <h3 class="contract-detail-title">계약 상세 정보</h3>

    <div class="container">
        <div class="row align-items-start">
            
        </div>
        
        
        
    </div>

    <footer style="margin-top: 3rem;">
        <%- include('../partial/footer') %>
    </footer>
</body>
</html>