<head>
  <meta charset="UTF-8" />
  <%- include('../head') %>
  <link rel="stylesheet" href="/css/warehouseDetail.css" />
  <title>창고 검색</title>
</head>

<body>
  <header><%- include('../partial/navbar') %></header>
  <div
    style="display: flex; height: 8%; width: 100%; background-color: grey"
  ></div>
  <div style="height: 80.6%; width: 100%; background-color: cadetblue"></div>
</body>
