h3.contract-request-detail-title {
  font-size: 3rem;
  font-family: 'nanum-eb';
  margin-top: 3rem;
}

td.contract-table-td-red {
  color: rgb(219, 48, 48);
  font-size: 1rem;
  font-family: 'nanum-eb';
}
h4.contract-sub-title {
  font-size: 2rem;
  font-family: 'nanum-b';
}
.btn-submit {
  font-size: 1.5rem;
  background-color: #7c139a;
  width: 10rem;
  margin: 1rem;
}
.btn-reject {
  font-size: 1.5rem;
  background-color: rgb(219, 48, 48);
  width: 10rem;
  margin: 1rem;
}
.btn-cancel {
  font-size: 1.5rem;
  background-color: #aaa;
  width: 10rem;
  margin: 1rem;
}
.centered-div {
  display: flex;
  justify-content: center;
  text-align: center;
}
.badge {
  font-size: 1.5rem;
}
.btn-detail {
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #7c139a;
  border: 1px solid #7c139a;
}
