.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/image/mainbg.png');
  height: 50rem;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main .title {
  text-align: center;
  margin: 5rem 0 2rem 0;
  font-weight: 600;
}

.main .slogan {
  font-size: 1.5rem;
  text-align: center;
}

.search {
  background: url('/image/search_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
}

.search .title {
  font-size: 3rem;
  color: #fff;
  margin-right: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 5px solid #fff;
}

.search .title:hover {
  cursor: pointer;
}

.warehouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60rem;
}

.warehouse .title {
  font-weight: 600;
  margin: 5rem 0 1rem;
}

.warehouse .content {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem;
}

.warehouse .more {
  color: purple;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 4rem;
}

.warehouse .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warehouse .list .card {
  width: 20rem;
  height: 35rem;
  border-radius: 1rem;
}

.warehouse .list .card .img {
  width: 100%;
  height: 50%;
}

.warehouse .list .card .wh_info {
  padding: 1rem;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.warehouse .list .card .wh_info .name {
  font-family: 'nanum-b';
  height: 10rem;
}

.warehouse .list .card .wh_info .detail {
  display: inline-block;
  text-decoration: none;
  color: purple;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
}

.enroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0 10rem 15rem;
  height: 22rem;
  background: url('/image/bg_2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.enroll .title {
  color: #fff;
  font-weight: 600;
}

.enroll .content {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.enroll .btn {
  background: #fff;
  color: purple;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 12rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.info .title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

.info .content {
  display: grid;
  width: 70rem;
  height: 35rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.3rem;
}

.info .content .card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 5px 2px #e4e6e9;
  font-size: 1.4rem;
  font-weight: 600;
}

.info .content .card .img {
  width: 40%;
  height: 50%;
  margin-bottom: 1rem;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/image/bg_3.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 22rem;
}

.signup .title {
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 5rem;
}

.signup .btn {
  background: #fff;
  color: purple;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 14rem;
}

.autoinven {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoinven .img {
  width: 20rem;
  height: 5rem;
}
.swiper1 {
  width: 30rem;
  height: 30rem;
}

.swiper2 {
  width: 90rem;
  height: 40rem;
}
