@font-face {
  font-family: 'nanum-l';
  src: url('/font/NanumSquareRoundL.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'nanum-r';
  src: url('/font/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'nanum-b';
  src: url('/font/NanumSquareRoundB.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'nanum-eb';
  src: url('/font/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-family: 'nanum-r';
  font-size: 14px;
  line-height: 1.15;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: 'nanum-r';
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  height: 100%;
}

section {
  overflow: auto;
}

.wrap {
  position: relative;
  min-height: 120%;
  overflow: auto;
  padding-bottom: 200px; /* margin+footer height */
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  margin: 0 -0.75rem;
}

.container-info {
  width: 100%;
  padding-right: 200px;
  padding-left: 200px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container-info {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container-info {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-info {
    max-width: 860px;
  }
}

@media (min-width: 1200px) {
  .container-info {
    max-width: 1040px;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

p {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 5px;
}

a[data-toggle='collapse'] {
  position: relative;
}

img {
  max-width: 100%;
  border-radius: 1px;
}

label {
  margin-bottom: initial;
}

small {
  font-size: 60%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
.h1 {
  font-size: 3.5em;
  line-height: 1.15;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 small,
.h1 small {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.8;
}

h2,
.h2 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-size: 1.825em;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.45em;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5,
.h5 {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 20px;
}

h6,
.h6 {
  font-size: 0.9em;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 23px 0;
  background-color: #212529;
  color: white;
  text-align: center;
}

.footer-forMain {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 23px 0;
  background-color: #212529;
  color: white;
  text-align: center;
}

.btn {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.2em;
  border: 2px none;
  border-radius: 0.7rem;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.btn:hover {
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-td {
  border-radius: 0.5rem;
  padding: 7px 11px;
}

.btn:disabled {
  background-color: gray;
  color: white;
  cursor: default;
}

.btn:disabled:hover {
  background-color: white;
  color: gray;
  cursor: default;
}

.btn-main {
  background-color: #7c139a;
  color: white;
}

.btn-main:hover {
  background-color: #7c139a;
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
}

.btn-success {
  background-color: #50cb93;
  color: white;
}

.btn-success:hover {
  background-color: white;
  color: #40c589;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-info {
  background-color: #39a2db;
  color: white;
}

.btn-info:hover,
.btn-info:focus {
  background-color: white;
  color: #2a9edd;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-warning {
  background-color: #ffb236;
  color: white;
}

.btn-warning:hover {
  background-color: white;
  color: #ffbe55;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-danger {
  background-color: #ff3636;
  color: white;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: white;
  color: #ff3636;
}

.btn-grey {
  background-color: #787a91;
  color: white;
}

.btn-grey:hover {
  background-color: white;
  color: #66687a;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn-main{
  width:300px;
  height:50px;
  margin: 0.75rem 0;
  background: rgb(124,19,154);
  border-radius: 15px;
  font-size: 24px;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
}

.btn-big {
  font-size: 0.4em;
  margin-left: 12px;
  padding: 8px 12px;
}

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}

.btn-sm {
  font-size: 14px;
  border-radius: 0.1875rem;
  padding: 5px 15px;
}

.btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}

.btn-two-l {
  float: left;
}

.btn-two-r {
  float: right;
}

.btn-form {
  background-color: #ff3636;
  display: inline-block;
  text-align: center;
  border: 2px solid #ff3636;
  cursor: pointer;
}

.btn-form:hover {
  background-color: white;
  color: #ff3636;
  display: inline-block;
  text-align: center;
  border: 2px solid white;
  cursor: pointer;
}

.center-wrap {
  width: max-content;
  margin: 0 auto;
}

.table {
  text-align: center;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table-bg {
  background-color: white;
}

.table-basic,
.table-basic > th,
.table-basic > td {
  background-color: #fdf6f0;
}

.table-basic th,
.table-basic td,
.table-basic thead th,
.table-basic tbody + tbody {
  border: none;
}

.table-basic:hover,
.table-basic:hover > td,
.table-basic:hover > th {
  background-color: #fcf1e7;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb;
}

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border: none;
}

.table-success:hover,
.table-success:hover > td,
.table-success:hover > th {
  background-color: #b1dfbb;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba;
}

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border: none;
}

.table-warning:hover,
.table-warning:hover > td,
.table-warning:hover > th {
  background-color: #ffe8a1;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb;
}

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border: none;
}

.table-danger:hover,
.table-danger:hover > td,
.table-danger:hover > th {
  background-color: #f1b0b7;
}

.thead-dark-vertical {
  width: 20%;
  color: white;
  background-color: #464660;
}

#td-btn {
  padding: 0.45rem 0;
}

.form-control::-webkit-input-placeholder {
  color: #888888;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #030303;
  height: auto;
  line-height: normal;
  font-size: 0.8571em;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #f96332;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

#form-control-btn {
  background-color: #f96332;
  border: 1px solid #f96332;
  color: white;
}

#form-control-btn:hover {
  background-color: white;
  border: 1px solid #e3e3e3;
  color: #f96332;
  height: auto;
}

.form-control:focus + .input-group-text,
.form-control:focus ~ .input-group-text {
  border: 1px solid #f96332;
  border-left: none;
  background-color: transparent;
}

.form-group.no-border.input-lg .input-group-text,
.input-group.no-border.input-lg .input-group-text {
  padding: 15px 15px 15px 19px;
}

.form-group .form-control,
.form-group .form-control-btn,
.input-group .form-control {
  padding: 10px 18px 10px 18px;
}

.input-group.no-border .form-control {
  border: medium none;
}

.input-group-text {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  color: #555555;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.input-group,
.form-group {
  margin-bottom: 16px;
  position: relative;
}

.input-group .input-group-prepend,
.form-group .input-group-prepend {
  margin-right: 0;
}

.input-group .form-control:first-child,
.input-group-text:first-child {
  border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-text:last-child {
  border-left: 0 none;
}

.form-control[disabled],
.form-control[readonly],
.form-control-btn[disabled],
.form-control-btn[readonly] {
  border-width: 1px;
  padding: 10px 18px 10px 18px;
}

.inner{
  display: flex;
  max-width: 100%;
  height: 80px;
  margin: 0 auto;
}
.navbar navbar-expand-lg navbar-light bg -light{
  width: 95%;
}
.inner .navbar-brand{
  margin-top: 5px;
  width: 200px;
  height: 50px;
  display: block;
  background: url("/image/main_logo.png") no-repeat;
  text-indent: -9999px;
}
.inner .navbar{
    width: 100%;
    height: 80px;
    border-bottom: solid #AAA 1px;
}
.inner .navbar-collapse{
    float: right;
    flex-grow: 0;
    margin-top: 10px;
    padding-right: 50px;
}
.nav-item a{
    font-weight: 1000;
}
.inner.img{
  height:20%;
  max-height: 160px;
  width: 100%;
  background-image: url("../image/background.jpg");
}
.inner.main{
  min-height: calc(100% - 240px);
  height: auto;
  width:100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}
.modal-content {
  border-radius: 0.1875rem;
  border: none;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
}

.modal-content .modal-header {
  border-bottom: none;
  padding: 24px 24px 0;
}

.modal-content .modal-header button {
  position: absolute;
  right: 27px;
  top: 30px;
  outline: 0;
}

.modal-content .modal-header .title {
  margin-top: 5px;
  margin-bottom: 0;
}

.modal-content .modal-body {
  padding: 24px 24px 16px;
  line-height: 1.9;
}

.modal-content .modal-footer {
  border-top: none;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.modal-content .modal-footer button {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
}

.modal-content .modal-footer button.pull-left {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: -5px;
}

.modal-content .modal-body + .modal-footer {
  padding-top: 0;
}

.modal-backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.modal.modal-mini p {
  text-align: center;
}

.modal.modal-mini .modal-dialog {
  max-width: 255px;
  margin: 0 auto;
}

.modal.modal-mini .modal-profile {
  width: 70px;
  height: 70px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 5.7;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.3);
}

.modal.modal-default .modal-content {
  background-color: white;
  color: #2c2c2c;
}

.modal.modal-default .modal-header .close {
  color: #2c2c2c;
}

.modal.modal-primary .modal-content {
  background-color: #f96332;
  color: white;
}

.modal.modal-primary .modal-header .close {
  color: white;
}

.modal.modal-danger .modal-content {
  background-color: #ff3636;
  color: white;
}

.modal.modal-danger .modal-header .close {
  color: white;
}

.modal.modal-warning .modal-content {
  background-color: #ffb236;
  color: white;
}

.modal.modal-warning .modal-header .close {
  color: white;
}

.modal.modal-success .modal-content {
  background-color: #18ce0f;
  color: white;
}

.modal.modal-success .modal-header .close {
  color: white;
}

.modal.modal-info .modal-content {
  background-color: #2ca8ff;
  color: white;
}

.modal.modal-info .modal-header .close {
  color: white;
}

.modal.show.modal-mini .modal-dialog {
  transform: translate(0, 30%);
}

.modal .modal-header .close {
  color: #ff3636;
  text-shadow: none;
}

.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
  opacity: 1;
}

.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 600px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.modal_body_2 {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 180px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateX(-50%) translateY(-50%);
}

.modal_body .modal_close {
  position: relative;
  margin-top: 15px;
  text-align: center;
}

#modal_border {
  border: 1px solid #dee2e6;
}

.card {
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.card .card-footer {
  padding: 0;
  margin-top: 15px;
  background-color: transparent;
  border: 0;
}

.card-plain {
  background: transparent;
  box-shadow: none;
}

.card-plain .card-body,
.card-plain .card-header {
  padding-left: 5px;
  padding-right: 5px;
}

.card-plain .card-header:after {
  width: 100%;
  left: 0;
}

.card a {
  transition: all 150ms ease 0s;
}

.index-page .page-header {
  height: 125vh;
}

.index-page .page-header .container > .content-center {
  top: 50%;
}

.page-header {
  min-height: 110vh;
  padding: 0;
  color: white;
  position: relative;
  overflow: hidden;
}

.page-header > .container {
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
  padding-top: 12vh;
  padding-bottom: 40px;
}

.page-header > .content {
  margin-top: 12%;
  text-align: center;
  margin-bottom: 50px;
}

.page-header.page-header-small {
  min-height: 35vh;
  max-height: 440px;
}

.page-header:before {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 0 15px;
  width: 100%;
  max-width: 880px;
}

.h1-seo {
  font-size: 3.5em;
  text-transform: uppercase;
  font-weight: 600;
}

.upload-btn-hidden {
  display: none;
}

.btn-footer {
  display: inline-block;
  color: #fff;
  text-align: center;
  border: 2px solid white;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 70%;
  overflow: hidden;
  padding-top: 7px;
}

@media all and (max-width: 990px) {
  .x990 {
    display: block;
  }

  .x991 {
    display: none;
  }
}

@media all and (min-width: 991px) {
  .x990 {
    display: none;
  }

  .x991 {
    display: block;
  }
}

/*help page*/
.help-container {
  width: 300px;
  margin: 0 auto;
}
#help {
  padding: 30px 0;
  overflow: hidden;
}

#help #help-list {
  padding: 0;
  list-style: none;
}

#help #help-list li {
  border-bottom: 1px solid #ebebeb;
}

#help #help-list a {
  color: #f96332;
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding: 22px 20px 22px 0;
}

#help #help-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#help #help-list p {
  margin-bottom: 20px;
}

#help #help-list a.collapsed {
  color: #000;
}

#help #help-list a.collapsed i::before {
  content: '+' !important;
}

.ion-android-remove:before {
  content: '-';
}

.ion-android-remove-circle:before {
  content: '+';
}

#faq {
  padding: 30px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
  color: #f96332;
  display: block;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding: 22px 20px 22px 0;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: '+' !important;
}

.btn-help-left {
  width: 140px;
  height: 50px;
  border: 1px solid #f96332;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.btn-help-left a {
  font-family: arial;
  font-size: 16px;
  color: #f96332;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.eff-left {
  width: 140px;
  height: 50px;
  top: -2px;
  right: -140px;
  background: #f96332;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.btn-help-left:hover .eff-left {
  right: 0;
}

.btn-help-left:hover a {
  color: #fff;
}

.btn-help-right {
  width: 140px;
  height: 50px;
  border: 1px solid #f96332;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.btn-help-right a {
  font-family: arial;
  font-size: 16px;
  color: #f96332;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.eff-right {
  width: 140px;
  height: 50px;
  left: -140px;
  background: #f96332;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.btn-help-right:hover .eff-right {
  left: 0;
}

.btn-help-right:hover a {
  color: #fff;
}

/* iot page */
#iot {
  padding-top: 100px;
}

.checkBtn {
  width: max-content;
  height: 30px;
  border: none;
  background-color: yellowgreen;
  color: white;
  font-weight: 500;
}

.checkBtn:hover {
  color: black;
}

.select {
  display: inline-block;
  width: 300px;
  height: 400px;
  font-size: large;
  border: 10px solid white;
  border-radius: 30px;
  background-color: white;
  margin: 40px 20px;
}

.select:hover {
  border: 5px solid #f96332;
  background-color: white;
}


/*customed */
.test-gray {
  background-color: #aaaaaa;
  border : 1px solid black;
}

.input--text{
  margin: 0.75rem 0;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px, rgba(0,0,0,0.075);
}
.input--text:focus {
  border-color: #51A7E8;
  box-shadow: 0 0 5px rgba(81,167,232,0.5);
}

.info-card {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

table.info-table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
td.info-table-td-head {
  background-color: #f5f5f5;
  font-family: 'nanum-b';
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td.info-table-td {
  text-align: left;
  font-family: 'nanum-r';
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
