#qr_div {
  width: 100%;
  height: 20rem;
}
#qr_code {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.print_footer {
  margin: 2rem 0 0 0;
  width: 100%;
  height: 10rem;
  background-color: rgb(221, 221, 221);
  text-align: center;
  padding: 2rem;
}
.qr_title {
  font-family: 'nanum-eb';
  font-size: 3rem;
}
.qr_icon {
  width: 3rem;
  height: 3rem;
  background: no-repeat;
}
.btn-print {
  background: #fff;
  background-color: rgb(50, 50, 92);
  font-family: 'nanum-b';
  font-size: 1.5rem;
}
.print_icon {
  width: 3rem;
  height: 3rem;
  background: no-repeat;
}
