ul{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.inner{
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
  max-width: 100%;
  margin: 0;
}
.left, .right{
  display: flex;
  width: 50%;
  height: 100%;
}
.logo{
  width: 10rem;
  height: 10rem;
  display: block;
  background: url("../image/small_logo.png");
  text-indent: -9999px;
  background: no-repeat;
}
#signup-form{
  padding-top: 3rem;
  display: block;
  height: 100%;
  width: 30rem;
  margin: 0 auto;
}
#signup-form .input--text{
  height: 3rem;
  width: 30rem;
}

#signup-form .input--text:focus {
  border-color: #51A7E8;
  box-shadow: 0 0 5px rgba(81,167,232,0.5);
}
.textdiv{
  display:flex;
}
.main_color{
  color:rgb(124,19,154);
  font-weight: bolder;
}
.black_color{
  color: #000;
  font-weight: bolder;
}

.btn-main{
  width: 22rem;
  height: 3.5rem;
  margin: 0.75rem 4rem;
}

.section--visual{
  background-image: url("../image/background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} 

.signin{
  display:flex;
  justify-content: center;
}
h1{
  margin: 0px;
}

#signup-form .input--text.short{
  height: 3rem;
  width: 22rem;
}

.btn-main.small{
  display: flex;
  width: 7rem;
  height: 3rem;
  margin: 0.75rem 0;
  margin-left: 10px;
  float: right;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
