.swiper {
  width: 100%;
  height: 25rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-prev{
  color: white;
}
.swiper-button-next{
  color: white;
}
.badge-svg {
  width: 20px;
  height: 20px;
  background: no-repeat;
}

.badge-text {
  font-size: 1rem;
  font-weight: bold;
}

.badge-text-purple {
  font-size: 1rem;
  font-weight: bold;
  color: #7c139a;
}

h3.wh-detail-title {
  font-size: 3rem;
  font-family: 'nanum-eb';
  margin: 0;
}

form.input-contract-info{
  border-radius: 10px;
  border-style: hidden;
}
.contract-card-element{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  align-items: center;
}
.submit-footer{
  font-family: "nanum-r";
  font-size: 1rem;
  color: gray;
}
.div-inline-block
#title-container {
  margin-top: 2rem;
}

#contract-card{
  padding: 1.5rem;
}

#wh-info-table {
  margin-top: 3rem;
}

#wh-detail-contract-card-title {
  font-family: 'nanum-eb';
  font-size: 2.5rem;
}

#wh-detail-contract-card-price {
  font-family: 'nanum-eb';
  font-size: 2.5rem;
  float: right;
  color: #2F7EFF;
}
#info-card-start-date {
  width: 44%;
  font-size: 1.2rem;
  color: gray;
  padding: 1rem;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #C4C4C4;
  overflow: visible;
}
#info-card-end-date {
  width: 44%;
  color: gray;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #C4C4C4;
  overflow: visible;
}
#info-card-arrow{
  width: 10%;
  height: 20px;
  background: no-repeat;
}
#info-card-area-for-contract {
  width: 90%;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #C4C4C4;
}
#contract-submit{
  width: 80%;
}
#dayButton,
#monthButton,
#yearButton {
  border-style: hidden;
  box-shadow: 0 0 0 1px #dddddd;
  margin : 0 0 0.5rem 0.5rem;
  display: inline-block;
}

