.inner.main {
  align-items: flex-start;
  margin-top: 5%;
}
.warehouse_info {
  display: flex;
  border-radius: 10px;
  border: 1px solid rgb(212, 212, 212);
  height: 12rem;
  margin: 2rem 0;
  min-width: 500px;
  align-items: center;
  opacity: 0.8;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.warehouse_info:hover {
  opacity: 1;
  transform: translateY(-1px);
  cursor: pointer;
}
.container.left {
  width: 11rem;
  margin: 0.5rem;
  height: 90%;
  overflow: hidden;
  padding: 0;
}
.container.center {
  display: flex;
  width: calc(100% - 20rem);
  height: calc(100% - 1rem);
  align-items: flex-start;
}
.container.right {
  width: auto;
  height: 80%;
  display: flex;
  padding: 0px;
  justify-content: end;
  align-items: flex-end;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.img {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0;
}
.wh_title {
  font-size: 2rem;
  font-family: nanum-eb;
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-left: 1rem;
  font-size: 1.5rem;
}
.wh_space,
.wh_term {
  font-family: nanum-eb;
}

.add_wh {
  width: 40px;
  height: 25px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  background-color: white;
  border-radius: 5px;
  margin: 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  justify-content: center;
  line-height: 1.25;
}
.edit_wh {
  background-color: #7c139a;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
}
.edit_wh:hover {
  background-color: #7c139a;
  color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
}
.add_wh:hover,
.add_wh:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.add_wh:hover .edit_wh:hover {
  transform: translateY(-1px);
}

.add_wh:active .edit_wh:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.search {
  --background: #ffffff;
  --text-color: #414856;
  --primary-color: #7c139a;
  --border-radius: 10px;
  --width: 190px;
  --height: 55px;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type='text'] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px 'Varela Round', sans-serif;
  color: var(--text-color);
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  transition: width 0.6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.search input[type='text']:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}
.search input[type='text']:focus ~ .symbol::before {
  width: 0%;
}
.search input[type='text']:focus ~ .symbol:after {
  clip-path: inset(0% 0% 0% 100%);
  transition: clip-path 0.04s linear 0.105s;
}
.search input[type='text']:focus ~ .symbol .cloud {
  top: -30px;
  left: -30px;
  transform: translate(0, 0);
  transition: all 0.6s ease;
}
.search input[type='text']:focus ~ .symbol .lens {
  top: 20px;
  left: 15px;
  transform: translate(0, 0);
  fill: var(--primary-color);
  transition: top 0.5s ease 0.1s, left 0.5s ease 0.1s, fill 0.3s ease;
}
.search .symbol {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .symbol:before {
  content: '';
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: -1;
  transition: width 0.6s ease;
}
.search .symbol:after {
  content: '';
  position: absolute;
  top: 21px;
  left: 21px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  z-index: 1;
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 0.04s linear 0.225s;
}
.search .symbol .cloud,
.search .symbol .lens {
  position: absolute;
  fill: #fff;
  stroke: none;
  top: 50%;
  left: 50%;
}
.search .symbol .cloud {
  width: 35px;
  height: 32px;
  transform: translate(-50%, -60%);
  transition: all 0.6s ease;
}
.search .symbol .lens {
  fill: #fff;
  width: 16px;
  height: 16px;
  z-index: 2;
  top: 24px;
  left: 24px;
  transition: top 0.3s ease, left 0.3s ease, fill 0.2s ease 0.2s;
}

.searchbar {
  font: 400 16px 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar .socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}
.searchbar .socials > a {
  display: block;
  width: 30px;
  opacity: var(--opacity, 0.2);
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
.searchbar .socials > a:hover {
  --scale: 1;
}
