<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Autoinven</title>
  <link rel="icon" type="image/x-icon" href="/image/autoin_icon.ico"/>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <script>
    Swal.fire({
      title: 'Error',
      text: 'Cannot access this page.',
      icon: 'error'
    }).then(() => history.back());
  </script>
</body>
</html>
