<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('head') %>
    <title>Document</title>
</head>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(124,19,154);">
    <a href="http://Autoinven.com/" style="color: #FFF; text-decoration: none;">© 2022 Copyright: Autoinven</a>
  </div>
  <!-- Copyright -->
</footer>

</html>