<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('./head') %>
  </head>
  <body>
    <header><%- include('./partial/navbar') %></header>
    <div class="container test-gray" style="height: 50rem;">

    </div>
    <footer><%- include('./partial/footer') %></footer>
  </body>
</html>
