<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoinven</title>
</head>
<body>
    <form action='/api/warehouse/img' method="POST" enctype="multipart/form-data">
        <input name="why">
        <input type='file' name='images' multiple>
        <button type="submit">등록</button>
    </form>
    <img src='uploads/0b737b112ce4389ed95466eb1fb5bb8e'>
</body>
</html>