<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <%- include('head') %>
    <link rel="stylesheet" href="./css/signup.css">
    <title>Document</title>
</head>

<body>
  <div class="inner">
    <div class="left">
      <form id="sign-form">
        <a class="logo" href="signup">Autoinven</a>
        <div class="textdiv">
          <h1>
            <p class="main_color">회원</p>
          </h1>
          <h1>
            <p class="black_color">가입</p>
          </h1>
        </div>
        <ul>
          <li><input type="email" class="input--text short" placeholder="이메일"></li>
          <li><input type="password" class="input--text" placeholder="비밀번호"></li>
          <li><input type="email" class="input--text" placeholder="이메일"></li>
          <li><input type="password" class="input--text" placeholder="비밀번호"></li>
          <input type="button" class="upload-btn-hidden" id="sendAuthCode" name="sendAuthCode"
            value="Send Auth Code">인증하기</input>
        </ul>
        <button type="submit" class="btn btn-main">회원가입</button>
        <div class=signin>
          <p style="color: #000; margin-right: 10px;">아직 계정이 없으신가요? </p>
          <a style="color: rgb(124,19,154); font-size: 15px;" href="signup"> 회원가입</a>
        </div>
      </form>
    </div>
    <div class="right">
      <section class="section section--visual"></section>
    </div>
  </div>
</body>

</html>