<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('../head') %>
  <link rel="stylesheet" href="/css/enrollWarehouse.css"/>
</head>

<body>
  <header>
    <%- include('../partial/navbar') %>
  </header>
  <div class="container">
    <h3 class="enroll-warehouse-title">창고 정보 등록</h3>

    <!--창고 사진-->
    <div class="image-preview">
        <h4 class="enroll-warehouse-sub-title">창고사진</h4>
        <div id='att_zone' data-placeholder="파일을 첨부 하려면 파일 선택 버튼을 클릭하거나 파일을 드래그 앤 드롭 하세요">
        </div>
        <label class="input-file-button" for="btnAtt">
            업로드
        </label>
        <input id="btnAtt" type='file' multiple='multiple' style='display: none;'/>
    </div>
    <!--창고 사진-->

    <!--창고 정보-->
    <div id="warehouse-info-div">
        <h4 class="enroll-warehouse-sub-title">창고정보</h4>
        <table class="table info-table">
            <colgroup>
                <col width="15%"/>
                <col width="35%"/>
                <col width="15%"/>
                <col width="35%"/>
            </colgroup>
            <tr>
                <td class=info-table-td-head>창고명</td>
                <td class="info-table-td" colspan="3">
                    <input id="name_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>임대료</td>
                <td class="info-table-td" colspan="3">
                    <input id="rent" type="number" class="form-control" style="display: inline; width: 80%; text-align: right;" min="0">
                    <span>원 per Day per ㎡</span>
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>주소</td>
                <td class="info-table-td" colspan="3">
                    <input id="address1_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>상세주소</td>
                <td class="info-table-td" colspan="3">
                    <input id="address2_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>종류</td>
                <td class="info-table-td">
                    <select id="category_id" class="form-select" aria-label="Default select example">
                        <option value="1">일반창고</option>
                        <option value="2">냉동/냉장창고</option>
                        <option value="3">야지</option>
                        </select>
                </td>
                <td class="info-table-td-head">시설유무</td>
                <td class="info-table-td">
                    <div div class="form-check">
                        <input id="docking_station" class="form-check-input" type="checkbox" >
                        <label class="form-check-label" for="docking_station" style="margin-left: 0.5rem;">
                            도킹시설
                        </label>

                        <input id="reck" class="form-check-input" type="checkbox"  style="margin-left: 1rem;">
                        <label class="form-check-label" for="reck" style="margin-left: 0.5rem;">
                            파레트렉
                        </label>
                        <input id="commercial_lift" class="form-check-input" type="checkbox"  style="margin-left: 1rem;">
                        <label class="form-check-label" for="commercial_lift" style="margin-left: 0.5rem;">
                            엘리베이터
                        </label>
                        <input id="is_bonded" class="form-check-input" type="checkbox"  style="margin-left: 1rem;">
                        <label class="form-check-label" for="is_bonded" style="margin-left: 0.5rem;">
                            보세
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>대지면적</td>
                <td class="info-table-td">
                    <input id="land_area" type="number" class="form-control info-td-area" min="0">
                    <span>㎡</span>
                </td>
                <td class=info-table-td-head>연면적</td>
                <td class="info-table-td">
                    <input id="total_ground_area" type="number" class="form-control info-td-area" min="0">
                    <span>㎡</span>
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>공용면적</td>
                <td class="info-table-td">
                    <input id="common_area" type="number" class="form-control info-td-area" min="0">
                    <span>㎡</span>
                </td>
                <td class=info-table-td-head>전용면적</td>
                <td class="info-table-td">
                    <input id="dedicated_area" type="number" class="form-control info-td-area" min="0">
                    <span>㎡</span>
                </td>
            </tr>
        </table>
    </div>
    <!--창고 정보-->

    <!--창고 상세-->
    <div id="warehouse-detail-info-div">
        <h4 class="enroll-warehouse-sub-title">상세정보</h4>
        <table class="table info-table">
            <tr>
                <td class=info-table-td-head>층수</td>
                <td class="info-table-td">
                    <input id="story" type="number" class="form-control info-td-area" min="0">
                    <span>층</span>
                </td>
                <td class=info-table-td-head>유효층고</td>
                <td class="info-table-td">
                    <input id="height" type="number" class="form-control info-td-area" min="0">
                    <span>m</span>
                </td>
                <td class=info-table-td-head>출입가능차랑</td>
                <td class="info-table-td">
                    <input id="restriction_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>준공일</td>
                <td class="info-table-td">
                    <input id="completion_date" type="text" class="form-control">
                </td>
                <td class=info-table-td-head>접근성</td>
                <td class="info-table-td" colspan="3">
                    <input id="access_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>창고소개</td>
                <td class="info-table-td" colspan="5">
                    <input id="description_ko" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>보유장비현황 및 특이사항</td>
                <td class="info-table-td" colspan="5">
                    <textarea id="note_ko" class="form-control enroll-text-area" cols="40" rows="5"></textarea>
                </td>
            </tr>
        </table>
    </div>
    <!--창고 상세-->

    <!--영문 정보-->
    <div id="warehouse-eng-info-div">
        <h4 class="enroll-warehouse-sub-title">영문정보</h4>
        <table class="table info-table">
            <colgroup>
                <col width="20%"/>
                <col width="80%"/>
            </colgroup>
            <tr>
                <td class=info-table-td-head>창고명(영문)</td>
                <td class="info-table-td">
                    <input id="name_en" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>주소(영문)</td>
                <td class="info-table-td">
                    <input id="rent" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>상세주소(영문)</td>
                <td class="info-table-td">
                    <input id="address2_en" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>출입가능차량(영문)</td>
                <td class="info-table-td">
                    <input id="restriction_en" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>접근성(영문)</td>
                <td class="info-table-td">
                    <input id="access_en" type="text" class="form-control">
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>창고소개(영문)</td>
                <td class="info-table-td">
                    <textarea id="description_en" class="form-control enroll-text-area" cols="40" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td class=info-table-td-head>보유장비현황 및 특이사항(영문)</td>
                <td class="info-table-td">
                    <textarea id="note_en" class="form-control enroll-text-area" cols="40" rows="5"></textarea>
                </td>
            </tr>
        </table>
        </div>
  </div>
  <!--영문 정보-->

  <footer style="margin-top: 3rem;">
    <%- include('../partial/footer') %>
  </footer>
</body>
<script>
    ( /* att_zone : 이미지들이 들어갈 위치 id, btn : file tag id */
    imageView = (att_zone, btn) => {
  
      const attZone = document.getElementById(att_zone);
      const btnAtt = document.getElementById(btn)
      let sel_files = [];
      
      // 이미지와 체크 박스를 감싸고 있는 div 속성
      const div_style = 'display:inline-block;position:relative;'
                    + 'width:15rem;height:15rem;margin:5px;border:1px solid #f0f0f0; z-index:1';
      // 미리보기 이미지 속성
      const img_style = 'width:100%;height:100%;z-index:none';
      // 이미지안에 표시되는 체크박스의 속성
      const chk_style = 'position:absolute; padding: 3px 5px 0.5px 5px; border-radius: 3px;'
                    + 'right:0px;top:0px;z-index:999;';
    
      btnAtt.onchange =(e) => {
        const files = e.target.files;
        const fileArr = Array.prototype.slice.call(files)
        for(f of fileArr){
          imageLoader(f);
        }
      }  
      
      // 탐색기에서 드래그앤 드롭 사용
      attZone.addEventListener('dragenter', (e) => {
        e.preventDefault();
        e.stopPropagation();
      }, false)
      
      attZone.addEventListener('dragover', (e) => {
        e.preventDefault();
        e.stopPropagation();
        
      }, false)
    
      attZone.addEventListener('drop', (e) => {
        var files = {};
        e.preventDefault();
        e.stopPropagation();
        var dt = e.dataTransfer;
        files = dt.files;
        for(f of files){
          imageLoader(f);
        }
        
      }, false)
      /*첨부된 이미리즐을 배열에 넣고 미리보기 */
      imageLoader = (file) => {
        sel_files.push(file);
        var reader = new FileReader();
        reader.onload = (ee) => {
          let img = document.createElement('img')
          img.setAttribute('style', img_style)
          img.src = ee.target.result;
          attZone.appendChild(makeDiv(img, file));
        }
        
        reader.readAsDataURL(file);
      }
      
      /*첨부된 파일이 있는 경우 checkbox와 함께 attZone에 추가할 div를 만들어 반환 */
      makeDiv = (img, file) => {
        const div = document.createElement('div')
        div.setAttribute('style', div_style)
        const icon = document.createElement('img')
        const btn = document.createElement('input')
        btn.setAttribute('type', 'button')
        btn.setAttribute('value', 'X')
        btn.setAttribute('class', 'btn btn-danger')
        btn.setAttribute('delFile', file.name);
        btn.setAttribute('style', chk_style);
        btn.onclick = (ev) => {
          var ele = ev.srcElement;
          var delFile = ele.getAttribute('delFile');
          for(var i=0 ;i<sel_files.length; i++){
            if(delFile== sel_files[i].name){
              sel_files.splice(i, 1);      
            }
          }
          
          dt = new DataTransfer();
          for(f in sel_files) {
            var file = sel_files[f];
            dt.items.add(file);
          }
          btnAtt.files = dt.files;
          var p = ele.parentNode;
          attZone.removeChild(p)
        }
        div.appendChild(img)
        div.appendChild(btn)
        return div
      }
    }
  )('att_zone', 'btnAtt')
</script>
</html>